<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">


            <span class="login100-form-title p-b-20">
                Iniciar Sesión
            </span>

            <div class="row mt-5">
                <div class="col-6 align-content-sm-center">
                    <span class="login100-form-title mb-4">
                        Asesor
                    </span>
                    <button type="button" class="btn btn-light" (click)="ingresar('google')">
                        <i class=" fas fa-chalkboard-teacher fa-7x "></i>
                    </button>
                </div>
                <div class="col-6 align-content-sm-center ">
                    <span class="login100-form-title mb-4 ">
                         Alumno
                    </span>
                    <button type="button " class="btn btn-light ml-3" (click)="ingresar('github')">
                        <i class="fas fa-user-circle fa-7x "></i>
                    </button>
                </div>
            </div>



            <!-- Por el momento no se va ocupar el formulario -->

            <!--<span *ngIf="f1.submitted && f1.controls[ 'email'].errors " 
                class="text-danger ">El correo es obligatorio</span>-->
            <!--<span  *ngIf="f1.submitted && f1.controls[ 'password'].errors "
                class="text-danger ">La contraseña por lo menos debe tener 6 caracteres</span> -->

            <!--
            <form class="login100-form validate-form flex-sb flex-w ">
                <div class="wrap-input100 m-b-16 ">
                    <input class="input100 " type="email " name="email " required placeholder="Correo Electrónico ">

                    <span class="focus-input100 "></span>
                </div>


                <div class="wrap-input100 m-b-16 " data-validate="Password is required ">
                    <input class="input100 " type="password " name="password " minlength="6 " required placeholder="Contraseña ">
                    <span class="focus-input100 "></span>
                </div>

                <div class="container-login100-form-btn m-t-17 ">
                    <button class="login100-form-btn " type="submit ">
                        Ingresar
                    </button>
                </div>

            </form>
            -->
        </div>
    </div>
</div>